@model P1DbContext.Models.Customer

@{
    ViewData["Title"] = "Login Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to the Login screen</h1>
        <p>Put some kind of login box here?</p>
    </div>
    <div class="col-6">
        <div>
            <form asp-action="LoginLandingPage">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="Password" class="form-control" />
                    <span asp-validation-for="Password"class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>


</body>