@{
    ViewData["Title"] = "Login Failed";
}

<div>
    <h1>Invalid Username / Password!</h1>
</div>

<br />
<br />
<button class="btn-light"><a class="btn" asp-area="" asp-controller="Account" asp-action="LoginPage">Try Again</a></button>
<br />
<br />
<button class="btn-light"><a class="btn" asp-area="" asp-controller="Account" asp-action="CreateAccount">Create New Account</a></button>