@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mason Sanborns P1!</h1>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Account" asp-action="CreateAccount">Create an Account</a></button>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Account" asp-action="LoginPage">Login</a></button>
</div>
