@model List<P1DbContext.Models.Order>
@{
    ViewData["Title"] = "Customer Orders";
}



<div class="text-lg-left">


    <table id="CustomerOrders" width="70%">
        <tr>
            <th>Order Id</th>
            <th>Customer Id</th>
            <th>LocationId</th>

        </tr>

        @foreach (P1DbContext.Models.Order obj in Model)
        {
            <tr>
                <td><a class="mx-auto" asp-action="OrderDetails" asp-route-selectedOrderId="@obj.OrderId">@Html.DisplayFor(modelItem => obj.OrderId)</a></td>
                <td>@Html.DisplayFor(modelItem => obj.CustomerId)</td>
                <td>@Html.DisplayFor(modelItem => obj.LocationId)</td>

            </tr>
        }

    </table>

</div>