@{
    ViewData["Title"] = "Extras Home Page";
}

<div class="text-left">
    <br />
    <br />
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Extras" asp-action="CustomerSearch">Search for Customer</a></button>
    <br />
    <br />
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Extras" asp-action="LocationHistory">Location Order History</a></button>
    <br />
    <br />
</div>