@{
    ViewData["Title"] = "Shopping Menu";
}



<div class="text-left">
    <br />
    <br />
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Main" asp-action="BrowseProducts">Browse Products</a></button>
    <br />
    <br />
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Main" asp-action="DisplayCart">Display My Cart</a></button>
    @*<br />
    <br />
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Main" asp-action="Checkout">Checkout</a></button>*@
    <br />
    <br />
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Main" asp-action="ReturnHome">Abandon Cart / Change Locations</a></button>
</div>